<div class="card bg-dark d-inline-block">
  <div class="card-header">{{ comment.createdBy }}{{ " " }}<small class="text-muted">{{ comment.createdAt }}</small></div>
  <div class="card-body">
    <p class="card-text">{{ comment.comment }}</p>
  </div>
</div>
