<!DOCTYPE html>

<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Adonis Stavridis, Mika Filleul">
    <meta name="description" content="A simple Todo-list app, developped in PHP.">
    <meta name="theme-color" content="#282828">
    <base href="/">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="img/logo.svg">
    <title> Todo - {% block title %}Welcome{% endblock %}</title>
  </head>

  <body>
    <div id="page" class="w-100 h-100">
      {% block page %}{% endblock %}
    </div>

    {% if message %}
    <div class="position-absolute message">
      {% block notification %}{% endblock %}
    </div>
    {% endif %}

    <script src="js/bundle.js"></script>
  </body>
</html>
