<div class="card bg-dark d-inline-block">
  <div class="card-header">{{ comment.created_by }}{{ " " }}<small class="text-muted">{{ comment.created_at }}</small></div>
  <div class="card-body">
    <p class="card-text">{{ comment.comment }}</p>
  </div>
</div>
